<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
    <link rel="stylesheet" href="../stylesheets/spots.css" type="text/css">
</head>

<body>

{{> nav }}

<section class="title-header">
    <h1 class="text-center">Chicago Study Spots</h1>
</section>

<div id="table-wrapper">
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <table class="table table-responsive table-striped table-hover">
                    <tr>
                        <td>Name</td>
                        <td>Address</td>
                        <td>Phone</td>
                        <td>Hours</td>
                        <td>Outlets?</td>
                    </tr>

                    {{#each studySpots }}
                    <tr>
                        <td><strong>{{this.name}}</strong></td>
                        <td><a class="location-address" title="Click to orient this location in the map." href="#map">{{this.address}}</a></td>
                        <td>{{this.phone}}</td>
                        <td>
                            {{#if this.hours}}
                                {{#each this.hours}}
                                    <p class="location-hours">{{@key}}: <span class="hour-right">{{this}}</span></p>
                                {{/each}}
                            {{ else }}
                                <p class="location-hours text-center">N/A</p>
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.outlet}}
                                {{this.outlet}}
                            {{ else }}
                                <p class="location-hours">N/A</p>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div class="col-lg-4">
                <div id="map"></div>
            </div>
        </div>
    </section>
</div>

{{> footer }}

<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>

<script src="../javascripts/jquery.easing.min.js"></script>
<script src="../javascripts/jquery.fittext.js"></script>
<script src="../javascripts/wow.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    var geocoder, map;

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: new google.maps.LatLng(41.8833, -87.6333),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(mapCanvas, mapOptions)
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    $(document).ready(function() {
        var codeAddress = function (address) {
            geocoder.geocode({'address': address}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    map.setZoom(17);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }

        $(".location-address").on("click", function(){
            codeAddress($(this).text());
        });
    });
</script>

<script src="../javascripts/creative.js"></script>

</body>
</html>